<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8"> 
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <style>
        /* body 
        {
            background-image:url('../static/img/true.png');
            background-color:#cccccc;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #CCCCCC;
        } */
    </style>
</head>
<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">航线模块</a>
        </div>
        <div>
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/airline_func1">最低价格波动</a></li>
                <li><a href="/airline_func2">不同时段票价变化</a></li>
                <li><a href="/airline_func3">业务占比</a></li>
                <li><a href="/airline_func4">平均准点率</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li> <a class="navbar-brand" href="/city_func1">城市模块</a> </li>
                <li> <a class="navbar-brand" href="/company_func1">航空公司模块</a> </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="col-md-2"></div>
    <div class="col-md-8">{% block content %} {% endblock %}</div>
    <div class="col-md-2"></div>
    <script src="/static/js/jquery-2.2.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/common.js"></script>

    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/dataTool.js"></script>
    <script src="/static/js/china.js"></script>
    <script src="/static/js/tagcanvas.min.js"></script>
    <script src="/static/js/area.js"></script>
    <script src="/static/main/bank_trend.js"></script>
    <script src="/static/main/airline_func1.js"></script>
    <script src="/static/main/airline_func2.js"></script>
    <script src="/static/main/airline_func3.js"></script>
    <script src="/static/main/airline_func4.js"></script>
</body>