<!DOCTYPE html>
<html style="height: 100%; width: 100%;">
<head>
    <meta charset="utf-8"> 
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <title>机票数据综合分析平台</title> 
    <style>
        body 
        {
            background-image:url('../static/img/index_back1.jpg');
            background-color:#cccccc;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: #CCCCCC;
        }
    </style>
</head>

<body style="height: 100%; width: 100%;">
    <div style="height: 30%; width: 100%;"></div>
    <div style="height: 20%; width: 100%;">
        <h1 style="text-align: center; font-weight: bolder; font-size: 50px;">机票数据综合分析平台</h1>
    </div>
    <div style="height: 20%; width: 100%; text-align: center;">
        <div class="col-md-4"><a href="/city_func1"><button type="button" class="btn btn-info">城市模块</button></div>
        <div class="col-md-4"><a href="/airline_func1"><button type="button" class="btn btn-info">航线模块</button></div>
        <div class="col-md-4"><a href="/airline_func1"><button type="button" class="btn btn-info">航空公司模块</button></div>
    </div>
    
</body>
<script src="/static/js/jquery-2.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/common.js"></script>


<script src="/static/js/echarts.min.js"></script>
<script src="/static/js/dataTool.js"></script>
<script src="/static/js/china.js"></script>
<script src="/static/js/tagcanvas.min.js"></script>
<script src="/static/js/area.js"></script>
<script src="/static/main/map.js"></script>
<script src="/static/main/serven_area.js"></script>
<script src="/static/main/zufang_shoufang_price_compare.js"></script>
<script src="/static/main/every_regions_zufang_count.js"></script>
<script src="/static/main/every_regions_ershoufang_count.js"></script>
<script src="/static/main/economic_active.js"></script>
<script src="/static/main/fang_wu_zheng_shou.js"></script>
<script src="/static/main/yu_shou_trend.js"></script>
<script src="/static/main/gong_zu_fang.js"></script>
<script src="/static/main/company_sorted.js"></script>
<script src="/static/main/company_sorted_bad.js"></script>
<script src="/static/main/bank_trend.js"></script>
<script src="/static/main/company_amont.js"></script>
</html>